.nav-bar {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 18px;
    width: 100%;
    background-color: #E7EFFF;
}

.nav-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 0;
}

.des-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}

.des-menu a {
    color: #000D83;
    font-weight: 500;
}

.des-menu a:hover {
    color: #0BB4FF;
}

.des-btn {
    display: flex;
    gap: 14px;
}

.des-btn button {
    background-color: #0BB4FF;
    color: white;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.des-btn .btn-01 {
    background: transparent;
    color: #000D83;
    font-size: 15px;
}

.des-btn .btn-01:hover {
    color: #0BB4FF;
}

.des-btn .btn-02:hover {
    background-color: #000D83;
}

/* mobile respossive  */
.mob-menu-btn {
    display: none;
}

.mob-menu {
    display: none;
    background-color: #b1c8f7;
    position: relative;
    border-radius: 8px;
}

/* style  */
.mob-menu-box {
    padding: 20px;
}

.mob-menu-box .menu {
    margin-top: 16px;
    padding: 6px 10px;
}

.mob-menu-box .menu:hover {
    background-color: #000D83;
    border-radius: 6px;
    width: 100%;
}

.mob-menu-box .menu a:hover {
    color: white;
    width: 100%;
}

.mob-btn-01,
.mob-btn-02 {
    margin-top: 16px;
    padding: 8px 0;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background-color: #E5E7EB;
}

.mob-btn-02 {
    color: white;
    background-color: #000D83;
}

.mob-btn-01:hover {
    background-color: #0BB4FF;
    color: white;
}

.mob-btn-02:hover {
    background-color: #0BB4FF;
}

@media(max-width:910px) {

    .des-menu,
    .des-btn {
        display: none;
    }

    .mob-menu-btn {
        display: flex;
    }

    .mob-menu-btn .fa-solid {
        color: #000D83;
        font-size: 28px;
        background-color: #E7EFFF;
    }

    .mob-menu {
        display: none;
    }

    .mob-menu.active {
        display: block;
    }
}