@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

:root {
    --st-color: #000D83;
    --nd-color: #0BB4FF;
    --bg-hero: #E7EFFF;
    --para-color: #040931B5;
}


h1 {
    color: var(--st-color);
    font-size: 40px;
}

h5 {
    color: var(--nd-color);
    font-size: 16px;
}

p {
    color: var(--para-color);
    line-height: 30px;
}

button {
    padding: 10px 20px;
    border: 1px solid var(--st-color);
    border-radius: 10px;
    color: white;
    background-color: var(--st-color);
    cursor: pointer;
}


/* Header part  */
header {
    background-color: var(--bg-hero);
}

nav {
    background-color: var(--bg-hero);
    height: 70px;
}

/* Hero part  */
.hero-bg {
    max-width: 1300PX;
    margin: 0 auto;
    width: 100%;
    padding: 60px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero-bg .hero-box>* {
    margin-top: 30px;
}

.hero-bg .hero-box h1 {
    width: 80%;
    line-height: 70px;
}

.hero-bg .hero-box p {
    width: 80%;
}

.get-btn:hover {
    background-color: var(--nd-color);
    border: 1px solid var(--nd-color);
}

.watch-btn {
    background: transparent;
    color: var(--st-color);
}

.watch-btn:hover {
    background-color: var(--nd-color);
    border: 1px solid var(--nd-color);
}

.pro-box {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.pro {
    margin-left: -15px;
}


/* Main part  */
main {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 30px;
}

/* ABOUT US part  */
.about-con {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    align-items: center;
    margin-top: 40px;
}

.about-con .box {
    display: flex;
    align-items: center;
    margin-top: 36px;
    padding: 18px 30px;
    box-shadow: 10px 24px 50px 0px rgb(231, 230, 230);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

/* REPUTED  SCHOOLS part  */
.school-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 60px;
    margin-top: 80px;
}

.school-box .box>* {
    margin-top: 30px;
}


/* STUDYING part  */
.studing-box{
    margin-top: 80px;
}
.studing-box h1{
    text-align: center; 
    width: 50%;
    margin: 20px auto 0 auto;
}
.studing-table{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 60px;
}
.studing-table .box{
    box-shadow: 10px 24px 54px 0px rgba(10, 10, 10, 0.05);
    border-radius: 16px;
    margin: auto;
    padding: 20px;
    text-align: center;
}
#text-1{
    font-weight: 600;
    margin-top: 10px;
}
#text-2{
    font-size: 14px;
    margin-top: 5px;
    color: #040931B5;
}

/* Newsletter part  */
.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
    margin-top: 80px;
}

.bg-color {
    opacity: 0.8;
    border-radius: 40px;
   
}

.bg-color .box {
    padding: 110px 8px;
    text-align: center;
}

.btn2 {
    background-color: var(--nd-color);
    border: 1px solid var(--nd-color);
    margin-top: 30px;
}

.btn2:hover {
    background-color: rgb(254, 181, 43);
    border: 1px solid rgb(254, 181, 43);
}

/* footer part  */
footer {
    background-color: var(--bg-hero);
    margin-top: 40px;
}
.foot-box{
    max-width: 1300px;
    margin: 0 auto;
    padding: 80px 30px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.foot-box .fa-brands{
    font-size: 30px;
}
.foot-box .box1{
    width: 25%;
}
.foot-box .box2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   gap: 110px;
}
.foot-box .box2 .box{
    display: flex; 
    flex-direction: column;
    gap: 20px;
}